<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%-include('parts/dashboard-head') %>
<body>
    <div class="d-flex">
        <%-include('parts/sidebar') %>
        <div class="container-md p-5">
           <div class="d-flex align-items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-plus-fill  text-success" viewBox="0 0 16 16">
                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
              </svg>
            <h2>إضافة مدرسة قرآنية</h2>
           </div>
            <form action="addschool" class="was-validated" method="post">
                <div class="mb-3 mt-3">
                  <label for="username" class="form-label">اسم المستخدم :</label>
                  <input type="text" class="form-control w-50" id="username" placeholder="أدخل اسم المستخدم" name="username" required>
                  <div class="valid-feedback">تمام</div>
                </div>
                <div class="mb-3 mt-3">
                  <label for="name" class="form-label">المدرسة القرآنية:</label>
                  <input type="text" class="form-control w-50" id="name" placeholder="أدخل اسم المدرسة القرآنية" name="name" required>
                  <div class="valid-feedback">تمام</div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="diara" class="form-label">الدائرة</label>
                        <select class="form-select" id="diara" name="diara" required>
                            <option selected disabled value="">اختر دائرة</option>
                          </select>
                    </div>
                    <div class="col-md-4">
                        <label for="commune" class="form-label">البلدية</label>
                        <select class="form-select" id="commune" name="commune" required>
                            <option selected disabled value="">اختر بلدية</option>
                          </select>
                    </div>
                    <div class="col-md-4">
                        <label for="street" class="form-label">العنوان</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="(اختياري)أدخل عنوان المدرسة القرآنية" name="uname" >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 mt-3">
                        <label for="pwd" class="form-label">كملة السر:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="أدخل كلمة السر" name="pswd" required>
                        <div class="valid-feedback">Valid.</div>
                        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div>
                      <div class="col-md-4 mb-3 mt-3">
                        <label for="repwd" class="form-label">تأكيد كلمة السر :</label>
                        <input type="password" class="form-control" id="repwd" placeholder="أدخل تأكيد كلمة السر" name="pswd" required>
                        <div class="valid-feedback">Valid.</div>
                        <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                      </div>
                </div>
                
              <button type="submit" class="btn btn-primary">إضافة</button>
              </form>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/addschool.js"></script>
</html>