<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%-include('parts/dashboard-head') %>
<body>
    <div class="d-flex">
        <%-include('parts/sidebar') %>
        <h1>المدارس القرآنية </h1>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</html>