<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%-include('parts/dashboard-head') %>
<body>
    <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <div class="d-flex">
        <%-include('parts/sidebar') %>
        <div class="container-md p-5 large-box">

            <div class="d-flex align-items-center gap-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bar-chart text-success" viewBox="0 0 16 16">
                    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                  </svg>
                <h2> احصائيات </h2>
            </div> 
            <div class="d-flex align-items-center gap-3">
                <div class="input-group border border-1 border-success rounded-2 w-50 mt-3 mb-3">
                    <input class="form-control mr-sm-2 border border-0 outline-none remove-focus" id="searchInput"  type="text" name="keyword" placeholder="بحث">    
                  <div class="input-group-append">
                    <button class="btn " id="emptyInput" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>                  
                    </button>
                  </div>
                </div>
                <div class="slider-btn d-flex gap-3" style="height: 40px;">
                    <button class="border-0 text-white rounded-1 bg-dark d-flex align-items-center justify-content-center" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    <button class="border-0 text-white rounded-1 bg-dark d-flex align-items-center justify-content-center" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      
                </div>
            </div>
           
            <div class="qa-container mt-5 big-school-container">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h2>مدرسة عامر بن الجراح </h2>
                        <p>دائرة الأغواط بلدية الأغواط</p>
                        <div class="container-fluid mb-4">
                          <h4 class="mt-5 mb-3">الإحصائيات العامة للمدرسة القرآنية</h4>
                          <div class="row">
                            <div class="col-xl-3 col-md-6">
                              <div class="card mb-3">
                                <div class="row g-0">
                                  <div class="col-md-4 bg-primary rounded-end-2 d-flex justify-content-center align-items-center">
                                    <img src="/assets/teachers_icon.png" class="img-fluid rounded-end-2 " width="60" height="60" alt="teacher icon" style="filter: invert(100%);">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body text-center">
                                      <h5 class="card-title text-nowrap">عدد المدرسين</h5>
                                      <p class="card-text">10</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                              <div class="card mb-3">
                                <div class="row g-0">
                                  <div class="col-md-4 bg-primary rounded-end-2 d-flex justify-content-center align-items-center" >
                                    <img src="/assets/students-cap.png" class="img-fluid rounded-end-2 " width="60" height="60" alt="student icon" style="filter: invert(100%);">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body text-center">
                                      <h5 class="card-title">عدد الطلبة</h5>
                                      <p class="card-text">60</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                              <div class="card mb-3">
                                <div class="row g-0">
                                  <div class="col-md-4 bg-primary rounded-end-2 d-flex justify-content-center align-items-center" >
                                    <img src="/assets/male_icon.png" class="img-fluid rounded-end-2 " width="60" height="60" alt="male icon" style="filter: invert(100%);">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body text-center">
                                      <h5 class="card-title">عدد الذكور</h5>
                                      <p class="card-text">40</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                              <div class="card mb-3">
                                <div class="row g-0">
                                  <div class="col-md-4 bg-primary rounded-end-2 d-flex justify-content-center align-items-center" >
                                    <img src="/assets/female.png" class="img-fluid rounded-end-2 " width="60" height="60" alt="female icon" style="filter: invert(100%);">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body text-center">
                                      <h5 class="card-title">عدد الإناث</h5>
                                      <p class="card-text">20</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="container-fluid mb-4">
                          <h4 class="mt-5 mb-3">التلاميذ</h4>
                          <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">  
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white" >قبل سن التمدرس</h6>
                                  <div class="row text-center">
                                    <div class="col-6" style="border-left: 1px solid #666;">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">المتمدرسون</h6>
                                  <div class="row text-center">
                                    <div class="col-6" style="border-left: 1px solid #666;">
                                      <p class="mb-1 ">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">المنفصلون</h6>
                                  <div class="row text-center">
                                    <div class="col-6" style="border-left: 1px solid #666;">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">المتفرغون</h6>
                                  <div class="row text-center">
                                    <div class="col-6" style="border-left: 1px solid #666;">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3 " >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">الداخليون</h6>
                                  <div class="row text-center">
                                    <div class="col-6" style="border-left: 1px solid #666;">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="container-fluid mb-4">
                          <h4 class="mt-5 mb-3">النتائج المحققة من القرآن الكريم</h4>
                          <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">  
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white" >أقل من الربع </h6>
                                  <div class="row text-center">
                                    <div class="col-6">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">الربع</h6>
                                  <div class="row text-center">
                                    <div class="col-6">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">النصف</h6>
                                  <div class="row text-center">
                                    <div class="col-6">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">ثلاثة أرباع</h6>
                                  <div class="row text-center">
                                    <div class="col-6">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col mb-3">
                              <div class="card mb-3" >
                                <div class="card-body p-0">
                                  <h6 class="card-title text-center p-3 bg-primary rounded-top-2 text-white">القرآن كاملا</h6>
                                  <div class="row text-center">
                                    <div class="col-6">
                                      <p class="mb-1">الذكور</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                    <div class="col-6">
                                      <p class="mb-1">الإناث</p>
                                      <span class="fs-3">10</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                          <h4 class="mt-5 mb-3">القائمون على المقر </h4>
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered border-primary">
                              <thead class="table-dark text-white">
                                <th class="text-nowrap">الإسم و اللقب</th>
                                <th class="text-nowrap">صفته</th>
                                <th class="text-nowrap">الرتبة</th>
                                <th class="text-nowrap">وضعية المتطوع</th>
                                <th class="text-nowrap">بداية العمل</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <h4 class="mt-5 mb-3">لائحة التلاميذ</h4>
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered border-primary">
                              <thead class="table-dark text-white text-center">
                                <th >الإسم و اللقب</th>
                                <th >تاريخ الميلاد</th>
                                <th >اسم الأب</th>
                                <th >الجنس</th>
                                <th >الوضعية مع المدرسة التربوية</th>
                                <th >المستوى التعليمي</th>
                                <th >المحصل عليه من القرآن</th>
                                <th >شهادة مدرسية</th>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                                <tr>
                                  <td class="text-nowrap">عبد الباسط بن عثماني</td>
                                  <td class="text-nowrap">موظف</td>
                                  <td class="text-nowrap">إمام مدرس</td>
                                  <td class="text-nowrap">غير مرخص</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                  <td class="text-nowrap">18/01/2022</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        
                      </div>
                      <div class="carousel-item">
                        <div>hello 2</div>
                      </div>
                      <div class="carousel-item">
                        <div>hello 3 </div>
                      </div>
                    </div>
                    
                  </div>
            </div>
        </div>    
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>

</html>