@use '../mixins' as mx;
// section
.school-infos {
  background: url('../../assets/school_wallpaper.jpg') center center/cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    background-color: var(--dark-green);
    opacity: 0.9;
  }
  &__wrapper { 
    z-index: 2;
    .statistics_card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      &__stats {
        @include mx.center-layout;
        flex-direction: column;
      }
      &__icon {
        @include mx.center-layout;
      }
    }
  }
}

//section
.school-list-infos {
  .search-input-wrapper {
    input {
      max-width: 600px;
      border: 1px solid #eee;
    }
  }
  .students-list,
  .teachers-list {
    &__wrapper {
      .student-card,
      .teachers-card {
        .student-name,
        .teachers-name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 170px;
        }
      }
    }
  }
}
