@use '../mixins' as mx;

.container-center {
  @include mx.center-layout();
  width: 100%;
  height: 100vh;
  .card {
    flex: 0 1 400px;
    .logo {
      width: 200px;
      display: block;
      margin: auto;
    }
  }
}
